<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true">

	<!-- Targets -->
	<targets>
		<!-- Log to file -->
		<target xsi:type="File"
				name="allfile"
				fileName="logs/all-${shortdate}.log"
				layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message} ${exception}" />

		<!-- Error file -->
		<target xsi:type="File"
				name="errorfile"
				fileName="logs/error-${shortdate}.log"
				layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message} ${exception}" />
	</targets>

	<!-- Rules -->
	<rules>
		<logger name="*" minlevel="Info" writeTo="allfile" />
		<logger name="*" minlevel="Error" writeTo="errorfile" />
	</rules>

</nlog>